@model IEnumerable<EntityLayer.Concrete.Author>
<div class="site-section">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-5 text-center">
                <h2>Yazar Listemiz</h2>
                <p>Sizlere birbirinden güzel içerikler sunan yazarlarımızın listesi aşağıda yer almaktadır. Eğer siz de yazarımız olmak isterseniz iletişim kısmından bize ulaşabilirsiniz.</p>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
            <div class="col-md-6 col-lg-4 mb-5 text-center">
                <img src="@item.AuthorImage" alt="Image" class="img-fluid w-50 rounded-circle mb-4">
                <h2 class="mb-3 h5">@item.AuthorName</h2>
                <p>@item.AuthorAbout</p>
            </div>
            }
        </div>
    </div>
</div>